@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-heading: "Lora", serif;
  --font-body: "Nunito", sans-serif;

  --color-hawkes-blue: #dad7fc;
  --color-ebony-clay: #272340;
  --color-gravel: #4b4a4d;
  --color-white: #ffffff;
  --color-silver-chalice: #a0a0a0;
  --color-gallery: #eeeeee;
  --color-indigo: #6368d1;
  --color-cornflower-blue: #6b76f6;
  --color-crimson-red: #e63946;
  --color-silver-tree: #65c299;
  --color-yellow-orange: #f4a261;
  --color-danube: #75a3dc;
  --spinner-white: #272340;
  --spinner-blue: #ffffff;

  --animate-marquee-vertical: marquee-vertical 15s linear infinite;
  --animate-slide-down-fade: slide-down-fade 0.5s ease-in-out forwards;
  --animate-slide-up-fade: slide-up-fade 0.5s ease-in-out forwards;

  @keyframes marquee-vertical {
    0% {
      transform: translateY(30%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(-70%);
      opacity: 0;
    }
  }

  @keyframes slide-down-fade {
    0% {
      max-height: 0;
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      max-height: 180px;
      opacity: 1;
    }
  }

  @keyframes slide-up-fade {
    0% {
      max-height: 180px;
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      max-height: 0;
      opacity: 0;
    }
  }
}

.dark {
  --color-hawkes-blue: #4c3d99;
  --color-ebony-clay: #e9e9e9;
  --color-gravel: #dfdfdf;
  --color-white: #e9e9e9;
  --color-silver-chalice: #a0a2b1;
  --color-gallery: rgb(255, 255, 255, 0.1);
  --color-indigo: #6368d1;
  --color-cornflower-blue: #5562eb;
  --spinner-white: #e9e9e9;
  --spinner-blue: #e9e9e9;
}

::placeholder {
  color: var(--color-silver-chalice);
}

.mask-fade {
  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

.animate-marquee-vertical:hover {
  animation-play-state: paused;
}

.Toastify__toast {
  --toastify-toast-width: auto;
  --toastify-toast-bd-radius: 8px;
}

.Toastify__close-button > svg {
  fill: var(--color-silver-chalice);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ProseMirror {
  width: 100%;
  outline: none;
  min-height: 200px;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--color-silver-chalice);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  blockquote {
    border-left: 3px solid var(--color-gallery);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: revert;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  mark {
    background-color: #faf594;
    border-radius: 0.3rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 1.5rem;
    text-wrap: pretty;
  }

  h1,
  h2,
  h3 {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
    font-weight: bold;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  a {
    color: var(--color-cornflower-blue);
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      opacity: 0.9;
    }
  }
}

.tiptap a[href^="blob:"] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.8;
  text-decoration: none !important;
}

.tiptap a[href^="blob:"]::after {
  content: "   (Complete upload to access this file)";
  font-size: 13px;
  color: var(--color-crimson-red);
}


@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.react-loading-skeleton {
  --base-color: var(--color-gallery) !important;
  animation:
    pulse 1.7s ease-in-out infinite,
    jump 1.7s ease-in-out infinite !important;
}

.react-loading-skeleton::after {
  background-image: none !important;
}

@keyframes pulse-multi {
  0% {
    box-shadow:
      0 0 0 0 rgba(107, 118, 246, 0.5),
      0 0 0 0 rgba(107, 118, 246, 0.3),
      0 0 0 0 rgba(107, 118, 246, 0.1);
  }
  100% {
    box-shadow:
      0 0 0 12px rgba(107, 118, 246, 0),
      0 0 0 32px rgba(107, 118, 246, 0),
      0 0 0 52px rgba(107, 118, 246, 0);
  }
}

.animate-ping-multi {
  animation: pulse-multi 2s ease-out infinite;
}
